{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
    <a class="action" href="{{ url_for('fact.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for fact in facts %}
    <div class="fact">
      <header>
        <table class="facttable">
          <tr style="text-align: left;">
            <th>Left</th>
            <th>Relation</th>
            <th>Right</th>
          </tr>
          <tr style="text-align: left;">
            <td>{{ fact['left_entity'] }}</td>
            <td>{{ fact['relation_entity'] }}</td>
            <td>{{ fact['right_entity'] }}</td>
        </table>
        {% if fact['admin'] == 1 %}
          <a class="action" href="{{ url_for('fact.update', id=fact['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">This fact was added by: {{ fact['username'] }}</p>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}